<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue中的条件渲染</title>
  <script src="vue.js"></script>
</head>
<body>
<div id="app">
  <div v-if="show">{{message}}</div>
  <div v-if="show1">{{message}}</div>

  <div v-show="show" data-test="v-if">{{message}}</div>
  <div v-show="show1" data-test="v-show">{{message}}</div>
</div>
<script>
  var vm = new Vue({
    el:'#app',
    data:{
      show:false,
      show1:true,
      message:'Hello World'
    }
  })
</script>
</body>
</html>