<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<!--介绍-->
<!--{{message}}-->
<div id="app">{{message}}</div>
<script>
  var app = new Vue({

    el:'#app',
    data:{
      message:'Hello Vue!'
    }

  })
  console.log(app.message);
</script>


<!--v-bind:title="message"-->
<div id="app-2">
  <span v-bind:title="message">鼠标悬停几秒钟查看此处动态绑定的提示信息！</span>
</div>
<script>
  var app2 = new Vue({
    el:'#app-2',
    data:{
      message:'页面加载于' + new Date().toLocaleString()
    }
  });
  console.log(app2.message);
</script>

<!--v-if="seen"-->
<div id="app-3">
  <p v-if="seen">现在你看到我了</p>
</div>
<script>
  var app3 = new Vue({
    el:'#app-3',
    data:{
      seen:true
    }
  });
  console.log(app3.seen);
</script>

<!--v-for="todo in todos"-->
<div id="app-4">
  <ol>
    <li v-for="todo in todos">{{todo.text}}</li>
  </ol>
</div>
<script>
  var app4 = new Vue({
    el:'#app-4',
    data:{
      todos:[
        {text:'学习 JavaScript'},
        {text:'学习 Vue'},
        {text:'整个牛项目'},
      ]
    }
  });
  console.log(app4.todos);
</script>

<!--v-on:click="reverseMessage"-->
<div id="app-5">
  <p>{{message}}</p>
  <p>{{reverseddMessage1}}</p>
  <button v-on:click="reverseMessage">逆转消息</button>
</div>
<script>
  var app5 = new Vue({
    el:'#app-5',
    data:{
      message:'Hello Vue.js!'
    },
    methods:{
      reverseMessage:function(){
        this.message = this.message.split('').reverse().join('')
      }
    },
    computed:{
      reverseddMessage1:function(){
        return this.message.split('').reverse().join('')
      }
    }
  });
  console.log('a-------'+app5.reverseddMessage1);
  app5.message = 'GoodBye';
  console.log(app5.reverseddMessage1);
</script>

<!--v-model="message"-->
<div id="app-6">
  <p>{{message}}</p>
  <input v-model="message">
</div>
<script>
  var app6 = new Vue({
    el:'#app-6',
    data:{
      message:'Hello Vue!'
    }
  });
</script>

<!-- v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"-->
<div id="app-7">
  <ol>
    <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
  </ol>
</div>
<script>
  Vue.component('todo-item',{
    props:['todo'],
    template:'<li>{{todo.text}}</li>'
  })
  var app7 = new Vue({
    el:'#app-7',
    data:{
      groceryList:[
        {id:0,text:'蔬菜'},
        {id:1,text:'奶酪'},
        {id:2,text:'随便其它什么人吃的东西'},
      ]
    }
  });
</script>

<!--Vue实例-->
<!--vm.a == data.a-->
<script>
  var data = {a:1}
  var vm = new Vue({
    data:data
  });
  console.log('1----------'+(vm.a == data.a));

  vm.a = 2;
  console.log('2----------'+data.a);

  vm.a = 3;
  console.log('3----------'+data.a);
</script>

<!--v-on:click="foo='baz"-->
<!--<div id="app-8">
  <p>{{foo}}</p>
  <button v-on:click="foo='baz">Change it</button>
</div>
<script>
  var obj = {foo:'bar'};
  Object.freeze(obj);
  new Vue({
    el:'#app-8',
    data:obj
  })
</script>-->

<!--它们都有前缀 $，以便与用户定义的属性区分开来-->
<div id="example"></div>
<script>
  var data = {a:1};
  var vm = new Vue({
    el:'#example',
    data:data
  });
  console.log('4----------'+(vm.$data === data));
  console.log('5----------'+(vm.$el === document.getElementById('example')));
  vm.$watch('a',function(newVlaue, oldValue){
    //这个回调将在'vm.a'改变后调用
    console.log('这个回调将在vm.a改变后调用')
  })
</script>

<!--实例生命周期钩子-->
<script>
  new Vue({
    data:{
      a:1
    },
    created:function(){
      console.log('a is: ' + this.a);
    }
  })

</script>

<!--模板语法-->
<!--v-once-->
<div id="app-8">
  <p v-once>{{message}}</p>
  <input v-model="message">
</div>
<script>
  var app8 = new Vue({
    el:'#app-8',
    data:{
      message:'Hello Vue!'
    }
  });
</script>

<!--v-html="rawHtml"-->
<div id="app-9">
 <p>Using mustaches:{{rawHtml}}</p>
  <p>Using v-html directive:<span v-html="rawHtml"></span></p>
</div>
<script>
  var app9 = new Vue({
    el:'#app-9',
    data:{
      rawHtml:'This should be red!'
    }
  });
</script>

<!--{{number + 1}}-->
<div id="app-10">
  {{number + 1}}
  {{ok?'YES':'NO'}}
  {{message.split('').reverse().join('')}}
  <div v-bind:id="'list-'+id"></div>
</div>
<script>
  var app10 = new Vue({
    el:'#app-10',
    data:{
      number:2,
      ok:true,
      message:'Hello Vue!',
      id:0
    }
  });
</script>



</body>
</html>